<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ejercicio14</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="jugadoresCtrl">

    <table border="1" width="100%">
        <tr>
            <th ng-click="orderByMe('nombre')">Nombre</th>
            <th ng-click="orderByMe('fecha_nacimiento')">Fecha</th>
            <th ng-click="orderByMe('canastas_totales')">Canastas</th>
            <th ng-click="orderByMe('asistencias_totales')">Asistencias</th>
            <th ng-click="orderByMe('rebotes_totales')">Rebotes</th>
            <th ng-click="orderByMe('posicion')">Posicion</th>
        </tr>
        <tr ng-repeat="x in jugadores | orderBy:myOrderBy">
            <td>{{x.nombre}}</td>
            <td>{{x.fecha_nacimiento}}</td>
            <td>{{x.canastas_totales}}</td>
            <td>{{x.asistencias_totales}}</td>
            <td>{{x.rebotes_totales}}</td>
            <td>{{x.posicion}}</td>
        </tr>
    </table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('jugadoresCtrl', function($scope, $http) {
        $http.get("/api/jugadors").then(function (response) {
            $scope.jugadores = response.data;
        });
        $scope.orderByMe = function(x) {
            $scope.myOrderBy = x;
        }
    });
</script>

</body>
</html>
